.add-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.clear-btn {
    margin-right: 10px;
}

.table-heading {
    text-align: center;
    border: 1px solid;
    font-weight: bold;
    background: white;
}

.second-table {
    margin-top: 20px;
}

::ng-deep .ag-header-group-cell-with-group {
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
    font-size: 16px;
}